.btn {
  cursor: pointer;
  background-color: #224272;
  border-radius: 18px;
  padding: 4px 16px;
  color: white;
  outline: none !important;
  border: unset;

  &:hover {
    background-color: #487ac5;
  }
}


